.feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    text-decoration: none;
    right: 48px;
    top: 50%;
    color: #2f80ed;
    transition: all 0.5s ease-in;
}

.feynman__link:hover {
    opacity: 0.5;
}