.feynman {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 890px;
    margin: 0;
    padding: 100px 0 0;
    background-color: #f2f2f2;
    background-image: url(/images/feynman.png);
    background-position: bottom left;
    background-size: 867px 637px;
    background-repeat: no-repeat;
}