.two-columns__main-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 80%;
    min-width: 784px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}