.khan__buy-link {
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    margin-left: 48px;
    align-items: flex-start;
    transition: all 0.5s ease-in;
}

.khan__buy-link:hover {
    opacity: 0.5;
}